* {
  font-family: Courier
}

body {
  background-color: #353638; 
}

.row {
  float: left; 
  width: 100%; 
}

.cell-from-3 {
  width: 33.333%; 
  float: left;
  position: relative;
  min-height: 1px; 
}

.primary-graph-box {
  border-left: 1px solid #5a5c5e; 
  border-right: 1px solid #5a5c5e; 
  box-sizing: border-box;
}